nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

table, th, td 
{
    padding: 15px;
}

th {
    background-color: rgb(235, 235, 235);
}

table {
    border-spacing: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.centre_text {text-align: center;}

td {
    text-align: left;
}

tr.border-bottom
{
    border-bottom: 1pt solid rgb(230, 230, 230);
}

.successful
{
    width: 100%; 
    background-color: rgb(230, 230, 230);
    text-align: center;
    size: 10em;
}

.balance_update 
{
    font-size: 40px;
    color: green;
}

.left {text-align: left;}

.bold {font-weight: bold;}