{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block main %}
    <h1> Welcome {{ user_info.username }}  </h1>
        <p> </p>

    <br/>    
    <h2> Your Investment Portfolio</h2>
    <br/>
        
    <table class="center"> 
        <tr class="border-bottom">
            <th> Stock Symbol</th>
            <th> Company Name</th>
            <th> No. of Shares</th>
            <th> Current Stock Price</th>
            <th> Total</th>
            <th> Investment Value</th>
        </tr>

        <tr class="border-bottom">
            <td class="centre_text">CASH </td>
            <td> </td>
            <td> </td>
            <td> </td>
            <td class="centre_text"> {{ user_info.balance }}</td>
            <td> </td>
        </tr>

        {% for key, value in portfolio_info.items() %}
            <tr class="border-bottom">
                <td class="centre_text"> {{value.symbol}} </td>
                <td> {{value.name}}</td>
                <td class="centre_text"> {{value.shares}}</td>
                <td class="centre_text"> {{value.stock_current_value}}</td>
                <td class="centre_text"> {{value.total_value}}</td>
                <td> </td>
            </tr>
        {% endfor %}
        
        <tr class="border-bottom">
            <td> </td>
            <td> </td>
            <td> </td>
            <td></td>
            <td> </td>
            <td class="centre_text bold"> {{user_info.grand_total}} </td>
        </tr>

    </table>


{% endblock %}