{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1> Your Stock Portfolio</h1>
        
    <table class="center">
        <tr class="border-bottom">
            <th> Current Balance</th>
            <th> Stock Symbol</th>
            <th> Company Name</th>
            <th> No. of Shares</th>
            <th> Current Stock Price</th>
            <th> Total Value</th>
            <th> Grand Total</th>

        </tr>

        {% for key, value in portfolio_info.items() %}
            <tr class="border-bottom">
                {% for key2, value2 in value.items() %}
                    <td> {{value2 }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        

        <!-- portfolio_info[i] = {
            "symbol": symbol, 
            "name": company_name, 
            "cash": balance, 
            "shares": shares, 
            "current_share_price":stock_current_value, 
            "total_value": total_value, 
            "grand_total": grand_total
        } -->





        <tr class="border-bottom">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>



        <!-- <tr> 
            <td> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> </td>
        </tr> -->

    </table>


{% endblock %}