{% extends "layout.html" %}

{% block title %}
    Investment Quote
{% endblock %}

{% block main %}
    <h1> Investment Quote </h1> 
    <br/>
    
    <table class="center">
        <tr>
            <th> Stock Symbol</th>
            <th> Company Name</th>
            <th> Stock Price</th>

        </tr>
            <td class="centre_text">{{ web_data.symbol }}</td>
            <td>{{ web_data.name }}</td>
            <td class="centre_text">{{ web_data.price }}</td>
        </tr>
    </table>
    
    <!-- {{ web_data.symbol }}   | {{ web_data.name }} | {{ web_data.price }} -->

{% endblock %}