{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <select name="symbol" id="stocks">
            <option value="select_stock">Select Stock</option>
            

          </select>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="text">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}